<header class="container">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li>
                <details class="dropdown">
                    <summary>
                    Entrena
                    </summary>
                    <ul dir="rtl">
                    <li><a href="{% url 'get_puzzle' %}">Puzzle</a></li>
                    <li><a href="{% url 'blitz_tactics_start' %}">Blitz Tactics</a></li>
                    <li><a href="{% url 'vision_rush_start' %}">Vision Rush</a></li>
                    <li><a href="{% url 'free_training_start' %}">Libre</a></li>
                    <li><a href="{% url 'analysis' %}">Auto-análisis</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details class="dropdown">
                    <summary>
                    Datos
                    </summary>
                    <ul dir="rtl">
                    <li><a href="{% url 'puzzle_history' %}">Historial</a></li>
                    <li><a href="{% url 'free_training_history' %}">Historial libre</a></li>
                    <li><a href="{% url 'elo_progress' %}">Progreso</a></li>
                    <li><a href="{% url 'theme_overview' %}">Temas</a></li>
                    <li><a href="{% url 'documents' %}">Documentos</a></li>
                    </ul>
                </details>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>