{% extends "base.html" %}
{% block title %}Temas de entrenamiento{% endblock %}

{% block content %}

<h1>Elo general: {{request.user.elo.elo}}</h1>
<h2>Temas entrenables</h2>
{% for category in trainable_categories %}
<details x-data='{eloCategory: {{request.user.elo.elo}}}'>
    <summary>
        <strong>{{ category.name }}</strong>

        <small class="muted margin-left-05">
            ({{ category.trainable_subthemes|length }} temas)
        </small>

        <span class="muted margin-left-1">
            Elo:
            {% if category.category_elo %}
                {{ category.category_elo.0.elo }}
            {% else %}
                —
            {% endif %}
        </span>
    </summary>

    {% if category.description %}
        <p class="muted">{{ category.description }}</p>
    {% endif %}

    {% if category.trainable_subthemes %}
        <table>
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Elo</th>
                    <th>Último entrenamiento</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in category.trainable_subthemes %}
                {% with theme_elo=theme.theme_elo.0 %}
                <tr>
                    <td>
                        <strong>{{ theme.name }}</strong>
                        {% if theme.description %}
                            <br>
                            <small class="muted">{{ theme.description }}</small>
                        {% endif %}
                    </td>
                    <td x-data='{elo: {{theme_elo.elo}}}' x-text="elo" :class="elo < eloCategory-100 ? 'text-red' : elo > eloCategory+100 ? 'text-green' : 'text-blue'"></td>
                    <td>
                        {% if theme_elo.last_trained %}
                            {{ theme_elo.last_trained|date:"Y-m-d" }}
                        {% else %}
                            Nunca
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="muted">No hay temas entrenables en esta categoría.</p>
    {% endif %}
</details>
<hr />
{% endfor %}

<h2>Temas no entrenables</h2>
{% for category in non_trainable_categories %}
<details
    {% if category.category_elo and category.lichess_name == 'opening' %}
    x-data='{eloCategory: {{request.user.elo.elo}}}'
    {% endif %}
    >
    <summary>
        <strong>{{ category.name }}</strong>

        <small class="muted margin-left-05">
            ({{ category.trainable_subthemes|length }} temas)
        </small>

         <span class="muted margin-left-1">
             Elo:
             {% if category.category_elo and category.lichess_name == 'opening' %}
                 {{ category.category_elo.0.elo }}
             {% else %}
                 —
             {% endif %}
         </span>
    </summary>

    {% if category.description %}
        <p class="muted">{{ category.description }}</p>
    {% endif %}

    {% if category.trainable_subthemes %}
        <table>
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Elo</th>
                    <th>Último entrenamiento</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in category.trainable_subthemes %}
                {% with theme_elo=theme.theme_elo.0 %}
                <tr>
                    <td>
                        <strong>{{ theme.name }}</strong>
                        {% if theme.description %}
                            <br>
                            <small class="muted">{{ theme.description }}</small>
                        {% endif %}
                    </td>
                    <td x-data='{elo: {{theme_elo.elo}}}'
                    x-text="elo"
                    {% if category.category_elo and category.lichess_name == 'opening' %}
                    :class="elo < eloCategory-100 ? 'text-red' : elo > eloCategory+100 ? 'text-green' : 'text-blue'"
                    {% endif %}
                    ></td>
                    <td>
                        {% if theme_elo.last_trained %}
                            {{ theme_elo.last_trained|date:"Y-m-d" }}
                        {% else %}
                            Nunca
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="muted">No hay temas entrenables en esta categoría.</p>
    {% endif %}
</details>

<hr />
{% endfor %}


{% endblock %}
